/*.nav {*/
  /*position: fixed;*/
  /*width: 200px;*/
  /*z-index: 1;*/
  /*height: 100vh;*/
  /*right: -200px;*/
  /*top: 0;*/
  /*border: solid 1px grey;*/
  /*transition: right 1000ms ease-in-out;*/


  /*&.active {*/
    /*right: 0;*/
     /*transition: right 1000ms ease-in-out;*/
   /*}*/
/*}*/
